* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica", Arial, sans-serif;
}

/* HEADER */

header {
  width: 1146px;
  margin: 57px auto 0;
}

.satauris-h6 {
  width: 64px;
  height: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19.55px;
  color: #5863e3;
}

.satauris-h1 {
  width: 371px;
  height: 112px;
  font-weight: 400;
  font-size: 49px;
  line-height: 56.35px;
  margin-top: 7px;
}

/* MAIN */
main {
  width: 1146px;
  margin: 57px auto 0;
}

form {
  display: flex;
}

textarea {
  width: 756px;
  height: 298px;
  border: 2px solid #d4d3d3;
  background-color: #f8f8f8;
  resize: none;
  padding-top: 23px;
  padding-left: 21px;
  box-sizing: border-box;
}

textarea::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.1px;
  color: #99999a;
}

#values-div {
  height: 298px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#values-div > input {
  width: 370px;
  height: 59px;
  border: 2px solid #d4d3d3;
  background-color: #f8f8f8;
  margin-top: 20px;
  padding-left: 19px;
  box-sizing: border-box;
}

#values-div > input::placeholder {
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.1px;
  color: #99999a;
}

#values-div > button {
  width: 370px;
  height: 59px;
  background-color: #5968f4;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.1px;
  color: #fbfbff;
  margin-top: 25px;
}

/* first-section */

#first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 51px;
}

#first-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-circle {
  width: 68px;
  height: 68px;
  background-color: #5968f4;
  border-radius: 50%;
}

#first-section-email-img {
  width: 41px;
  height: 29px;
  padding: 19px 13px 20px 14px;
}

#first-section-phone-img {
  width: 51px;
  height: 41px;
  padding: 13px 8px 14px 9px;
}

#first-section-location-img {
  width: 23px;
  height: 38px;
  padding: 18px 23px 12px 22px;
}

section div h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #4e4d54;
  margin-top: 16px;
}

section div p {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.25px;
  color: #99999a;
  margin-top: 8px;
}

/* second-section */

#second-section {
  margin-top: 74px;
}

/* photos-div */

#photos-div {
  display: flex;
  margin-top: 53px;
  justify-content: space-around;
}

#photos-div > img {
  width: 373px;
  height: 373px;
  object-fit: cover;
}

/* FOOTER */

footer {
  width: 100%;
  height: 372px;
  display: flex;
  background-color: #000000;
  margin-top: 39px;
  padding-top: 63px;
  box-sizing: border-box;
  justify-content: space-around;
}

#footer-first-div > h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 29.9px;
  color: #ffffff;
}

#footer-first-div > p {
  width: 295px;
  height: 80px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19.55px;
  color: #99999a;
  margin-top: 23px;
}

#footer-first-div-imgs-div {
  display: flex;
  margin-top: 23px;
  align-items: center;
}

#fb {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 7px;
}

#tw {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 7px;
}

#g {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}

#footer-second-section {
  display: flex;
  margin-right: 33px;
}

#footer-second-div {
  display: flex;
  flex-direction: column;
  margin-right: 86px;
}

.footer-links-header {
  font-weight: 400;
  font-size: 21px;
  line-height: 24.15px;
  color: #ffffff;
}

footer div ul li a {
  font-weight: 400;
  font-size: 17px;
  line-height: 19.55px;
  color: #5863e3;
  text-decoration: none;
}

footer div ul li {
  margin-top: 9px;
}

footer div ul li:nth-child(1) {
  margin: 0;
}

footer div ul {
  margin-top: 32px;
}

#footer-third-div {
  display: flex;
  flex-direction: column;
  margin-right: 124px;
}

#footer-fourth-div-1div {
  margin-top: 32px;
}

#footer-fourth-div-1div > img {
  width: 21px;
  height: 15px;
  object-fit: cover;
  padding: 4px 14px 0 0;
}

#footer-fourth-div-2div > img {
  width: 27px;
  height: 22px;
  object-fit: cover;
  margin: 15px 12px 1px -4px;
}

#footer-fourth-div-3div img {
  width: 13px;
  height: 22px;
  object-fit: cover;
  margin: 18px 15px 0px 4px;
}

#footer-fourth-div div span {
  font-weight: 400;
  font-size: 17px;
  line-height: 19.55px;
  color: #ffffff;
}

i {
  display: none !important;
  color: #99999a;
  transition: 0.5s;
  cursor: pointer;
}

i:hover {
  font-size: 23px;
  color: #c9c9c9;
}
/* AFTER LOWPXS */
#after-lowPXS-div {
  display: none;
  text-align: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.after-lowPXS-txt {
  color: red;
  text-transform: uppercase;
}

#after-lowPXS-div > a {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.8s;
}
#after-lowPXS-div > a:hover {
  font-size: 25px;
  color: aquamarine;
}

/* MEDIAS */

@media only screen and (max-width: 1170px) {
  header {
    width: 756px;
  }
  main {
    width: 756px;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  #values-div {
    margin-top: 30px;
  }
  #first-section {
    margin-top: 75px;
    flex-wrap: wrap;
    align-items: center;
  }
  #photos-div {
    width: 800px;
    margin: 53px auto 0;
    align-items: center;
    flex-wrap: wrap;
  }
  #photos-div > img:nth-child(3) {
    margin-top: 28px;
  }
  #footer-second-section {
    flex-direction: column;
  }
  #footer-second-section div {
    margin: 0;
    margin-top: 30px;
  }
  ul {
    display: none;
  }
  #footer-fourth-div div {
    display: none;
  }
  i {
    display: flex !important;
  }
  .footer-links-header {
    margin: 0;
    width: 150px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 660px) and (max-width: 819px) {
  header {
    width: 640px;
  }
  textarea {
    width: 640px;
    height: 180px;
  }
  main {
    max-width: 640px;
  }

  #first-section > div {
    width: 225px;
  }
  #first-section div:nth-child(3) {
    margin-top: 50px;
  }
  #photos-div {
    width: 640px;
    margin: 10px auto 0;
  }
  #photos-div > img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 659px) {
  header {
    display: none;
  }
  main {
    display: none;
  }
  #photos-div {
    display: none;
  }
  footer {
    display: none;
  }
  body {
    background-color: black;
  }
  #after-lowPXS-div {
    display: flex;
  }
}
